body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background: papayawhip;
}

#start{
    width: 250px;
    height: 40px;
    background: rgb(250 , 134 , 134);
    font-size: 25px;
    margin-top: 350px;
    border-radius: 20px;
}

.container{
    width: 500px;
    margin-left: 30%;
    margin-top: 2%;
    padding: 100px;
    border-radius: 20px;
    border: 5px solid black;
    box-shadow: cornflowerblue;
}

input{
    width: 400px;
    height: 30px;
    font-size: 20px;

}

label{
    font-size: 25px;
}

h1{
    color: darkblue;
}

button{
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: khaki;
}